@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/**
 * Global styles - minimal
 */
body {
  font-family: 'Merriweather', serif;
  color: #1507A8;
  line-height: 1.6;
  background-color: #F7F5F1;
}
